# gradle

.gradle/
.gradle-user-home/
build/
out/
classes/

# eclipse

*.launch
.factorypath

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
fabric/run/
neoforge/runs/
config/
common/config/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
.kotlin/

# project scratch directory
scratch/
logs/

# mdBook build output
/docs-book/
